@page "/Usuarios/index"
@using Commom.models.Usuarios
@using Entities.Entidades
@using JustoFront.Services
@using Justo.Entities
@inject IUsuarioService UsuarioService
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<h3>Painel de Usuários</h3>

@if (usuarios == null)
{
    <span><em>Carregando...</em></span>
}
else if (usuarios.Count == 0)
{
    <p>Nenhum usuário encontrado.</p>
}
else
{
    <button class="btn btn-primary" @onclick="AdicionarUsuario">
        <i class="bi bi-plus-square"></i>Adicionar
    </button>
    <table class="table">
        <thead style="text-align:center;">
            <tr>
                <th>Id</th>
                <th>Usuário</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Perfil</th>
                <th>Detalhes</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>
                        @if (usuario.Id != null)
                        {
                            <span>@usuario.Id</span>
                        }
                        else
                        {
                            <span>Usuário sem ID cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.UserName))
                        {
                            <span>@usuario.UserName</span>
                        }
                        else
                        {
                            <span>Usuário sem username cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.Email))
                        {
                            <span>@usuario.Email</span>
                        }
                        else
                        {
                            <span>Usuário sem email cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.CPF))
                        {
                            <span>@usuario.CPF</span>
                        }
                        else
                        {
                            <span>Usuário sem CPF cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (usuario.Roles != null)
                        {
                            @string.Join(", ", usuario.Roles)
                        }
                        else
                        {
                            <span>Usuário sem perfil cadastrado.</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(e => AbrirModal(usuario))">Ver Detalhes</button>
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(e => RemoverUsuario(usuario))">Remover</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<ModalPainelEdit UsuarioModal="usuarioSelecionado" ModalVisivel="ModalAbertoEdit" OnClose="FecharModal" />
<ModalPainelAdd ModalVisivel="ModalAbertoAdd" OnClose="FecharModal" />


@code {
    private List<UsuarioComRole> usuarios;
    private bool ModalAbertoAdd = false; 
    private bool ModalAbertoEdit = false;
    public UsuarioComRole usuarioSelecionado = new();

    protected override async Task OnInitializedAsync()
    {
        usuarios = await UsuarioService.GetUsuariosAsync();
    }

    public void AbrirModal(UsuarioComRole usuario)
    {
        usuarioSelecionado = usuario;
        ModalAbertoEdit = true;
        StateHasChanged();
    }

    public void FecharModal()
    {
        ModalAbertoEdit = false;
        ModalAbertoAdd = false;
        StateHasChanged();
    }

    public void AdicionarUsuario()
    {
        ModalAbertoAdd = true;
        StateHasChanged();
    }
    public async Task RemoverUsuario(UsuarioComRole usuario)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Deseja mesmo remover este usuário?");
        if (confirmed)
        {
            // Primeiro, localize o ApplicationUser correspondente pelo CPF
            var usuarioParaRemover = await UsuarioService.GetUsuarioByCpfAsync(usuario.CPF);
            if (usuarioParaRemover != null)
            {
                // Procede com a remoção usando o ID do ApplicationUser encontrado
                var resultadoRemocao = await UsuarioService.DeleteUserAsync(usuarioParaRemover.CPF);
                //erro esta AQUI, PRECISA VERIFICAR PQ N ESTA VINDO SUCCESS
                if (resultadoRemocao.IsSuccessStatusCode)
                {
                    await JsRuntime.InvokeVoidAsync("alert", $"{usuarioParaRemover.UserName} removido com sucesso");
                    StateHasChanged();
                    Navigation.NavigateTo("/");
                    Navigation.NavigateTo("/Usuarios/index");
                }
                else
                {
                    await JsRuntime.InvokeVoidAsync("alert", $"Falha ao remover o usuário: {usuarioParaRemover.UserName}.");
                }
            }
            else
            {
                await JsRuntime.InvokeVoidAsync("alert", $"usuário: {usuarioParaRemover.UserName} não encontrado.");
            }
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("alert", "Remoção de usuário cancelado.");
            StateHasChanged();
        }
    }
}
