@using Commom.models.Usuarios
@using JustoFront.Services
@inject IUsuarioService UsuarioService
@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation

@if (ModalVisivel)
{
    <div class="modal show" tabindex="-1" role="dialog" style="display:block">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Usuário</h5>
                    <button type="button" class="close" aria-label="Close" @onclick="CloseModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (UsuarioModal != null)
                    {
                        <EditForm Model="UsuarioModal" OnValidSubmit="SalvarModal">
                            <DataAnnotationsValidator />
                            <div class="row g-3 align-items-center">
                                <div class="col-12">
                                    <label for="inputUserName" class="col-form-label">Usuário:</label>
                                    <InputText class="form-control" @bind-Value="UsuarioModal.UserName" id="inputUserName" />
                                    <ValidationMessage For="@(() => UsuarioModal.UserName)" />
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="inputEmail" class="col-form-label">Email:</label>
                                    <InputText class="form-control" @bind-Value="UsuarioModal.Email" id="inputEmail" />
                                    <ValidationMessage For="@(() => UsuarioModal.Email)" />
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="inputCpf" class="col-form-label">CPF:</label>
                                    <InputText class="form-control" @bind-Value="UsuarioModal.CPF" id="inputCpf" />
                                    <ValidationMessage For="@(() => UsuarioModal.CPF)" />
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="inputPassword" class="col-form-label">Senha:</label>
                                    <div class="input-group">
                                        <InputText type="@passwordInputType" class="form-control" @bind-Value="UsuarioModal.Password" id="inputPassword" />
                                        <button type="button" class="btn btn-outline-secondary" @onclick="TogglePasswordVisibility">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </div>
                                    <ValidationMessage For="@(() => UsuarioModal.Password)" />
                                </div>
                                <div class="col-12 mt-2">
                                    <label for="inputPerfis" class="col-form-label">Perfis:</label>
                                    <InputSelect class="form-control" @bind-Value="UsuarioModal.RoleSelecionado" id="inputPerfis">
                                        <option disabled selected value="">Selecione um perfil</option>
                                        @foreach (var role in Roles)
                                        {
                                            <option value="@role">@role</option>
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => UsuarioModal.RoleSelecionado)" />
                                </div>
                            </div>
                            <div class="col-12 mt-2" style="text-align-last: right;">
                                <button type="submit" class="btn btn-secondary">Salvar</button>
                                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Fechar</button>
                            </div>
                        </EditForm>
                        <CarregarTransicao Mensagem="" Redireciona="false" MostraComponente="MostraComponenteEdit" />
                    }
                </div>
            </div>
        </div>
    </div>
}
@code {
    private List<string> Roles { get; set; } = new();
    private bool showPassword = true;
    private string passwordInputType => showPassword ? "text" : "password";
    private string passwordIcon => showPassword ? "-slash" : "";
    private bool MostraComponenteEdit = false;

    [Parameter]
    public bool ModalVisivel { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    [Parameter]
    public UsuarioComRole UsuarioModal { get; set; }

    private void CloseModal()
    {
        ModalVisivel = false;
        OnClose.InvokeAsync(ModalVisivel);
    }

    protected override async Task OnInitializedAsync()
    {
        Roles = await UsuarioService.GetRolesAsync();
    }

    private void TogglePasswordVisibility()
    {
        showPassword = !showPassword;
    }

    private async Task SalvarModal()
    {
        MostraComponenteEdit = true;

        try
        {
            var mensagemsucesso = "Usuário alterado com sucesso.";
            var response = await UsuarioService.UpdateUserAsync(UsuarioModal);
            await JSRuntime.InvokeVoidAsync("alert", mensagemsucesso);
            MostraComponenteEdit = false;
            CloseModal();
            Navigation.NavigateTo("/");
            Navigation.NavigateTo("/Usuarios/index");

        }
        catch (Exception ex)
        {
            string mensagemErro = "Erro ao alterar usuário.";
            await JSRuntime.InvokeVoidAsync("alert", mensagemErro);
            MostraComponenteEdit = false;
            CloseModal();
            Navigation.NavigateTo("/");
            Navigation.NavigateTo("/Usuarios/index");
        }
    }
}