@page "/Painel"
@using Commom.models.Usuarios
@using Entities.Entidades
@using JustoFront.Services
@using Justo.Entities
@inject IUsuarioService UsuarioService

<h3>Painel de Usuários</h3>

@if (usuarios == null)
{
    <span><em>Carregando...</em></span>
}
else if (usuarios.Count == 0)
{
    <p>Nenhum usuário encontrado.</p>
}
else
{
    <button class="btn btn-primary" @onclick="AdicionarUsuario">
        <i class="bi bi-plus-square"></i>Adicionar
    </button>
    <table class="table">
        <thead style="text-align:center;">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Perfil</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.UserName))
                        {
                            <span>@usuario.UserName</span>
                        }
                        else
                        {
                            <span>Usuário sem username cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.Email))
                        {
                            <span>@usuario.Email</span>
                        }
                        else
                        {
                            <span>Usuário sem email cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.CPF))
                        {
                            <span>@usuario.CPF</span>
                        }
                        else
                        {
                            <span>Usuário sem CPF cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (usuario.Roles != null)
                        {
                            @string.Join(", ", usuario.Roles)
                        }
                        else
                        {
                            <span>Usuário sem perfil cadastrado.</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-primary" @onclick="@(e => AbrirModal(usuario))">Ver Detalhes</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<ModalPainelEdit UsuarioModal="usuarioSelecionado" ModalVisivel="ModalAbertoEdit" OnClose="FecharModal" />
<ModalPainelAdd ModalVisivel="ModalAbertoAdd" OnClose="FecharModal" />


@code {
    private List<UsuarioComRole> usuarios;
    private bool ModalAbertoAdd = false; 
    private bool ModalAbertoEdit = false;
    public UsuarioComRole usuarioSelecionado = new();

    protected override async Task OnInitializedAsync()
    {
        usuarios = await UsuarioService.GetUsuariosAsync();
    }

    public void AbrirModal(UsuarioComRole usuario)
    {
        usuarioSelecionado = usuario;
        ModalAbertoEdit = true;
        StateHasChanged();
    }

    public void FecharModal()
    {
        ModalAbertoEdit = false;
        ModalAbertoAdd = false;
        StateHasChanged();
    }

    public void AdicionarUsuario()
    {
        ModalAbertoAdd = true;
        StateHasChanged();
    }
}
