@page "/Painel"
@using Commom.models.Usuarios
@using Entities.Entidades
@using JustoFront.Services
@using Justo.Entities
@inject IUsuarioService UsuarioService

<h3>Painel de Usuários</h3>

@if (usuarios == null)
{
    <span>@usuarios</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Perfil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in usuarios)
            {
                <tr>
                    <td>
                        @if(!string.IsNullOrEmpty(usuario.UserName))
                        {
                           <span>@usuario.UserName</span>
                        }
                        else
                        {
                            <span>Usuário sem username cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.Email))
                        {
                            <span>@usuario.Email</span>
                        }
                        else
                        {
                            <span>usuário sem email cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(usuario.CPF))
                        {
                            <span>@usuario.CPF</span>
                        }
                        else
                        {
                            <span>usuário sem cpf cadastrado.</span>
                        }
                    </td>
                    <td>
                        @if (usuario.Roles != null)
                        {
                            @string.Join(", ", usuario.Roles)
                        }
                        else
                        {
                            <span>usuário sem perfil cadastrado.</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UsuarioComRole> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = await UsuarioService.GetUsuariosAsync();
    }
}
