@page "/Processos/Detalhes/{ProcessoId:int}"
@using Justo.Entities.Entidades
@using JustoFront.Services
@using JustoFront.Services.Interface
@inject IProcessoService ProcessoService

<h3>Detalhes do Processo @ProcessoId</h3>

@if (lstProcessosAtualizados != null)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CodPJEC</th>
                <th scope="col">TituloMovimento</th>
                <th scope="col">ConteudoAtualizacao</th>
                <th scope="col">DataMovimentacao</th>
            </tr>
        </thead>
        <tbody>
            @*Precisa verificar no webscrapping como esta sendo feito os inserts a partir das atualizacoes de movimentacao processual*@
            @foreach (var atualizacao in lstProcessosAtualizados.OrderBy(a => a.DataMovimentacao))
            {
                <tr>
                    <td>@atualizacao.CodPJEC</td>
                    <td>@atualizacao.TituloMovimento</td>
                    <td>
                        <div class="scrollable-content">
                            @for(int i = 0; i < 100;i++)
                            {
                                @atualizacao.ConteudoAtualizacao

                            }
                        </div>
                    </td>
                    <td>@atualizacao.DataMovimentacao</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Carregando...</p>
}

<style>
    .scrollable-content {
        max-height: 200px; /* ajuste a altura conforme necessário */
        overflow-y: auto;
    }

    table.table {
        width: 100%;
        table-layout: auto;
    }

    th, td {
        text-align: center;
        vertical-align: middle;
    }
</style>


@code {
    [Parameter]
    public int ProcessoId { get; set; }

    public List<ProcessosAtualizacao> lstProcessosAtualizados = new();

    protected override async Task OnInitializedAsync()
    {
        lstProcessosAtualizados = await ProcessoService.GetAllProcessoAtualizadoAsync(ProcessoId);
    }
}
